@using Microsoft.AspNetCore.Identity
@using QuiqBlog.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="Index">Hello @((await UserManager.GetUserAsync(User)).FirstName)!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" onclick="$('#LogoutForm').submit();" style="cursor: pointer;">Logout</a>
        <form id="LogoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        </form>
    </li>
} else {
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}